@import "fonts"
@import "libs"
@import "vars"

// ==================================
// CORE
// ==================================

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	margin: 0
	padding: 0

.text-center
	text-align: center

// ====================================
// BOX
// ====================================

.box
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	width: 300px
	height: 400px
	background: #ffffff
	box-shadow: 0 2px 2px rgba(0,0,0,0.2)

	ul
		margin: -50px auto 0
		padding: 0
		width: 300px
		display: flex

		li
			list-style: none
			width: 50px
			height: 50px
			background: #ccc

			// Boxes colors
			$colors: Magenta, LightGreen, Tomato, Tan, GoldenRod, OliveDrab
			$item-number: 6
			@each $color in $colors
				&:nth-child(#{$item-number}),
				&:nth-child(#{$item-number}) div
					background-color: $color
				$item-number: $item-number - 1

			// Bg All Document
			div
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				transform: scaleY(0)
				transform-origin: bottom
				transition: transform .5s
		
			// Bg All Document on Hover
			&:hover div
				transform: scaleY(1)
				transform-origin: top
				transition: transform .5s

@import "media" // Всегда в конце
